@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1c75b7;
  --color-secondary-cyan: #00adee;
  --color-dropdown: #ebf3fe;
  --color-tahiti: #3ab7bf;
  --color-lightgrey: #f5f7fa;
  --color-medium-grey: #d1d5db;
  --color-bermuda: #78dcca;
  --color-paradark: #4b5563;
  --color-headdark: #1f2937;
  --leading-card22: 22px;
  --leading-grid28: 26px;
  --leading-mob34: 34px;
  --spacing-button: 18px;
  --tracking-2px: 0.125em;
  --tracking-4px: 0.25em;
  --color-btn: #d87a2c;
  --color-btn-hover: #c66b24;
  --font-HindMadurai: '"Hind Madurai"', sans-serif;
  --font-kumbhSans: '"Kumbh Sans"';
  --spacing-container: 1317px;
  --color-text-dark: #1f2937;
  --color-textpara-dark: #1f2937;
  --color-star: #f2c94c;
  --color-imgbg: #bdbdbd;
  --text-56px: 3.5rem;
  --text-28px: 28px;
  --breakpoint-xl: 80rem;
  --spacing-h320: 320px;
  --text-parasize: 32px;
  --spacing-servicecontainer: 976px;
  --color-dropdown-text: #1b1c21;
  --color-cardtext: #d0d0d0;
}
@font-face {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-display: swap;
  src: url("Public/font/KumbhSans-VariableFont") format("ttf");
}
body {
}
.kumbhfont {
  font-family: "Kumbh Sans", sans-serif !important;
}
.heading {
  font-family: "Kumbh Sans", sans-serif !important;
  @apply font-medium  tracking-wide text-28px lg:text-parasize leading-10;
}
.paras {
  @apply !font-HindMadurai text-base  leading-6 text-paradark;
}
.main-heading {
  font-family: "Kumbh Sans", sans-serif !important;
  @apply font-medium lg:text-[2.5rem] xl:text-56px text-[28px] leading-mob34 lg:leading-12 xl:leading-16 tracking-wide text-text-dark capitalize;
}
.main-para {
  @apply font-HindMadurai font-normal text-base !leading-6 text-paradark max-lg:mt-4 max-lg:mb-6;
}
.center-heading {
  font-family: "Kumbh Sans", sans-serif !important;
  @apply font-medium text-28px lg:text-56px tracking-wide lg:text-center text-text-dark capitalize max-lg:leading-mob34;
}

.center-para {
  @apply !font-HindMadurai font-normal text-base leading-6 lg:text-center text-paradark;
}

.about-card-title {
  font-family: "Kumbh Sans", sans-serif !important;
  @apply font-semibold lg:tracking-4px leading-6 uppercase text-base  lg:text-sm;
}
.about-card-para {
  @apply font-HindMadurai font-medium leading-6 text-base lg:text-sm;
}
.input-choose::before {
  @apply mr-4;
}
.feature-card {
  @apply rounded-xl  text-white p-4  lg:p-6 relative z-20;
}
.feature-card h3 {
  font-family: "Kumbh Sans", sans-serif !important;
  @apply ml-6 font-medium text-xl lg:text-sm xl:text-xl leading-grid28 z-20  max-lg:my-2;
}
.feature-card p {
  @apply font-HindMadurai pt-4 lg:pt-6 text-sm lg:text-sm xl:text-sm leading-card22 lg:leading-6 mx-auto;
}
.our-service-card {
  @apply absolute p-8 top-[45%] sm:top-[50%] transform -translate-x-1/2 -translate-y-1/2 lg:top-[40%] left-[50%]  bg-primary rounded-xl  flex items-center justify-center;
}
.dropdown-item {
  position: relative;
  display: block;
  padding: 1.5rem 1.5rem;
  font-size: 0.875rem;
  overflow: hidden;
  z-index: 0;
  color: inherit;
  transition: color 0.3s ease;
}

.dropdown-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 0;
  height: 0;
  background-color: #00adee;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 2s ease, opacity 0.6s ease;
  opacity: 0.6;
  z-index: -1;
}

.dropdown-item:hover::before {
  width: 200%;
  height: 500%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.dropdown-item:hover {
  color: white;
}

.animated-button {
  position: relative;
  padding: 12px 24px;
  background-color: #d6722b;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 9999px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animated-button svg {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 20px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.animated-button:hover svg {
  stroke-dashoffset: 0;
}
